# Zotero
pyzotero

# Embeddings
sentence-transformers
torch
transformers

# Similarity
scikit-learn
numpy

# Keyword search
rank-bm25

# Graph
igraph
leidenalg

# UMAP
umap-learn

# Plotting
matplotlib
plotly

# Local LLM
ollama

# PDF
pymupdf
ocrmypdf

# app
pandas
dash
dash-bootstrap-components
